<li id="<%= current.id %>" class="card <%= current.types[0] %>">
    <div class="circle">
        <img src="<%= current.sprites%>" alt="Pokemon image">
    </div>
    <div class="name-type">
        <h2><span class="id"><%= current.id %></span>. <span><%= current.name %></span></h2>
        <p><%= current.types.join(" | ") %></p>
    </div>
</li>