<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <title>Pokedex</title>
    </head>
    <body>
        <main class="container">
            <h1>Pokedex</h1>
            <ul class="pokemon-list">
                <% pokemonsInfo.forEach((current)=>{%>
                    <li id="<%= current.id %>" class="card <%= current.types[0] %>">
                        <div class="circle">
                            <img src="<%= current.sprites%>" alt="">
                        </div>
                        <div class="name-type">
                            <h2><span class="id"><%= current.id %></span>. <span><%= current.name %></span></h2>
                            <p><%= current.types.join(" | ") %></p>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </main>
    </body>
</html>